<form method="POST" action="/processar">
    <div class="campo">
        <label for="nome">Nome Completo</label>
        <input type="text" id="nome" name="nome" required>
    </div>

    <div class="campo">
        <label for="idade">Idade</label>
        <input type="number" id="idade" name="idade" required>
    </div>

    <div class="campo">
        <label for="curso">Cursos</label>
        <select name="curso" id="curso">
            <option value="">Selecione...</option>
            <option value="Python">Python</option>
            <option value="Flask">Flask</option>
            <option value="HTML/CSS">HTML/CSS</option>
        </select>
    </div>

    <button type="submit">Enviar Dados</button>
</form>

<div class="Resultado">
    <h3>Resultado do Processamento</h3>
    <pre>{{ resultado }}</pre>
</div>