<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
<div class="container">
    <h1>Formulario de Cadastro</h1>
    <p>Preencha os dados abaixos:</p>

    <from method="POST" action="/processar">
        <div class="campo">
            <label for="none">Nome Completo</label>
            <input type="text" id="nome" name="nome" required>
        </div>
        <div class="campo">
            <label for="idade">Idade</label>
            <input type="Number" id="idade" name="idade" required>
        </div>
        <div class="campo">
            <label for="Cursos">Cursos</label>
            <select name="curso" id="curso">
                <option value="">Selecione...</option>
                <option value="">Python</option>
                <option value="">Flask</option>
                <option value="">HTML/CSS</option>
            </select>
        </div>
        <button>Enviar Dados</button>
    </from>
</div>

<!--Area do resultado vai aparecer (preenchido pelo Flask)-->
<div class="Resultado">
    <h3>Resultado do Processamento</h3>
</div>
</body>
</html>
